[submodule "themes/hugo-theme-hello-friend"]
	path = themes/hugo-theme-hello-friend
	url = https://github.com/paulcoghlan/hugo-theme-hello-friend
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/paulcoghlan/hugo-theme-hello-friend
